body, nav, h1, h2, p div, footer {
    border: 1px solid black;
}

body {
    width: 960px;
    background-image: url("Basic_Portfolio/assets/css/images/white-waves.png");
}

h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 150px;
    float: left;
}

h2 {
    margin: 0px 25px 10px 25px;
    padding: 10px 0px 20px 0px;
    color: #4aaaa5;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
}

nav { 
    float: right;
    color: #777777;
}

.content {
    width: 700px;
    border: 1px solid black;
    margin: 35px 0px 50px 130px;
    position: relative;
}

img {
    float: left;
    margin: 10px 10px 10px 25px;
}

footer {
    text-align: center;
    color: #777777;
}

p {
    line-height: 1.3em;
    margin: 5px;
    text-align: justify;
    color: #777777;
}


