body {
    background-image: url("images/white-waves.png");
    margin: auto;
}

h1 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin: 0px;
    padding: 0px;
    width: 150px;
    float: left;
}

h2 {
    margin: 0px 25px 10px 25px;
    padding: 10px 0px 20px 0px;
    color: #4aaaa5;
    border-bottom: 5px solid #777777;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
}

nav { 
    float: right;
    color: #777777;
}

.content {
    width: 960px;
    margin: auto;
    position: relative;
    clear: both;
    height: 350px;
    background-color: white;
}

img {
    float: left;
    margin: 10px 10px 10px 25px;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    color: white;
    clear: both;
    padding-top: 25px;
    background-color: #666666;
    font-size: 8px;
    border-top: 5px solid #4aaaa5;
    
}

p {
    line-height: 1.3em;
    margin: 10px 25px 0px 5px;
    text-align: justify;
    color: #777777;
}


